@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
  

    
      <!-- /Static navbar --> 
      <!-- Content -->
      <div class="row content">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><a href="/Home/index">Home</a></li>
            <li><a href="/Home/contact">Contact</a></li>
          </ol>
          <h2>Contact</h2>
          <div class="row">
            <div class="col-md-8">
              <iframe src="http://mapsengine.google.com/map/embed?mid=z-BEFzFo7gdM.kYdiUKVQpQQI" style="border: none; width: 100%; height: 400px;"></iframe>  
            </div>
            <div class="col-md-4">
              <div class="well well-sm">
                <address>
                  <strong>Classified Ads</strong><br />
                  Punjab University College of Information Technology<br />
                  Mall Road , Lahore<br />
                  <abbr title="Phone">Phone #</abbr> (123) 456-7890
                </address>
                <address>
                  <strong>Muhammad Bilal Awais</strong><br />
                  <a href="mailto:#">BCSF11A068@pucit.edu.pk</a>
                </address>
              </div> 
            </div>
          </div>
          <hr>
          
        </div>
      </div>
      <!-- /Content -->

    <!-- JS -->
      <script src="~/Scripts/jquery-1.10.2.min.js"></script>
      <script src="~/Scripts/bootstrap.min.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
      <script src="~/Scripts/jquery.slides.min.js"></script>
    <script>
    $( document ).ready(function() {
      // Drop down menu handler
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
    });
    </script>
    <!-- /JS -->
  
</html>