@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">



    <!-- /Static navbar -->
    <!-- Content -->
    <div class="alert alert-success">
        <a href="/Ads/category/Cell" class="alert-link">You are logged in successfully.</a>
        </div>
        <!-- /Content -->
        <!-- JS -->
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
        <script src="~/Scripts/jquery.slides.min.js"></script>
        
        <!-- /JS -->

</html>